1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException, ElementClickInterceptedException
from selenium.webdriver.common.by import By
import undetected_chromedriver as uc
import time

In [2]:
server = webdriver.Chrome()
server.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [3]:
rank = []

rank_tags = server.find_elements(By.XPATH, '//td[@align="center"][1]')
for i in rank_tags[0:30]:
    ranks = i.text
    rank.append(ranks)

In [4]:
name = []

name_tags = server.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[2]')
for i in name_tags[0:30]:
    names = i.text
    name.append(names)

In [5]:
artist = []

artist_tags = server.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]')
for i in artist_tags[0:30]:
    artists = i.text
    artist.append(artists)

In [6]:
views = []

views_tags = server.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[4]')
for i in views_tags[0:30]:
    view = i.text
    views.append(view)

In [7]:
date = []

date_tags = server.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[5]')
for i in date_tags[0:30]:
    dates = i.text
    date.append(dates)

In [8]:
len(rank), len(name), len(artist), len(views), len(date)

(30, 30, 30, 30, 30)

In [9]:
df = pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Views':views,'Upload Date':date})
df

,Rank,Name,Artist,Views,Upload Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.85,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.16,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.70,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.20,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,6.00,"January 30, 2017"
5,6.,"""See You Again""[19]",Wiz Khalifa,5.89,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[24]",ChuChu TV,5.30,"March 6, 2014"
7,8.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,5.24,"May 24, 2018"
8,9.,"""Uptown Funk""[26]",Mark Ronson,4.92,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[27]",Miroshka TV,4.89,"February 27, 2018"
10,11.,"""Gangnam Style""[28]",Psy,4.80,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[34]",El Chombo,4.35,"April 5, 2018"
13,14.,"""Axel F""[35]",Crazy Frog,3.91,"June 16, 2009"
14,15.,"""Sugar""[36]",Maroon 5,3.87,"January 14, 2015"
15,16.,"""Roar""[37]",Katy Perry,3.80,"September 5, 2013"
16,17.,"""Counting Stars""[38]",OneRepublic,3.79,"May 31, 2013"
17,18.,"""Sorry""[39]",Justin Bieber,3.66,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.64,"June 25, 2018"
19,20.,"""Thinking Out Loud""[41]",Ed Sheeran,3.60,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.59,"June 4, 2010"
21,22.,"""Dark Horse""[43]",Katy Perry,3.52,"February 20, 2014"
22,23.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.48,"June 14, 2018"
23,24.,"""Faded""[45]",Alan Walker,3.45,"December 3, 2015"
24,25.,"""Perfect""[46]",Ed Sheeran,3.45,"November 9, 2017"
25,26.,"""Let Her Go""[47]",Passenger,3.44,"July 25, 2012"
26,27.,"""Girls Like You""[48]",Maroon 5,3.42,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.41,"January 26, 2018"
28,29.,"""Lean On""[50]",Major Lazer,3.38,"March 22, 2015"
29,30.,"""Bailando""[51]",Enrique Iglesias,3.38,"April 11, 2014"

In [10]:
server.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time

In [17]:
driver = uc.Chrome()
driver.get('https://www.bcci.tv/')

In [30]:
button = driver.find_element(By.XPATH,'//*[@id="navigation"]/ul[1]/li[2]/a')
button.click()

In [31]:
match = driver.find_element(By.XPATH, '//*[@id="match-card"]/div[3]/a')
match.click()

In [33]:
match = []

match_tags = driver.find_elements(By.XPATH, '//*[@id="rightPanel"]/div[1]/div/ul/li[2]/span[2]')
for i in match_tags:
    matches = i.text
    match.append(matches)
    
series = []

series_tags = driver.find_elements(By.XPATH, '//*[@id="rightPanel"]/div[1]/div/ul/li[1]/span[2]')
for i in series_tags:
    serie= i.text
    series.append(serie)
    
place = []

place_tags = driver.find_elements(By.XPATH, '//*[@id="scoreBox"]/div[1]/div/div[2]/div[3]/div[3]')
for i in place_tags:
    places = i.text
    place.append(places)
    
date = []

date_tags = driver.find_elements(By.XPATH, '//*[@id="scoreBox"]/div[1]/div/div[2]/div[3]/div[2]')
for i in date_tags:
    dates = i.text
    date.append(dates)

In [34]:
back = driver.find_element(By.XPATH,'//*[@id="nav-main"]/div[1]/a[1]')
back.click()

# i had to go back on the main page because on the match page I didint find the time.

In [39]:
time = []

time_tags = driver.find_elements(By.XPATH, '//*[@id="match-card"]/div[1]/div/div[2]')
for i in time_tags[0:1]:
    times = i.text
    time.append(times)
time

['11:00 AM BST']

In [40]:
len(match), len(series), len(place), len(date), len(time)

(1, 1, 1, 1, 1)

In [41]:
df = pd.DataFrame({'Match title':match,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match title,Series,Place,Date,Time
0,India VS Australia,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,"KENNINGTON OVAL , LONDON",7 JUN 2023,11:00 AM BST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [ ]:
# i couldnt find the info requested for this question

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [43]:
driver = webdriver.Chrome()
driver.get('https://github.com/')

In [46]:
button = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
button.click()

In [47]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [51]:
title = []

title_tags = driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title_tags:
    titles = i.text
    title.append(titles)
len(title)

25

In [55]:
description = []

description_tags = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_tags:
    descriptions = i.text
    description.append(descriptions)
len(description)

25

In [57]:
contributors = []

contributors_tags = driver.find_elements(By.XPATH, '//span[@class="d-inline-block mr-3"]')
for i in contributors_tags:
    contributor = i.text
    contributors.append(contributor)
len(contributors)

25

In [71]:
language = []

language_tags = driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
for i in language_tags:
    try:
        languages = i.text
        language.append(languages)
    except NoSuchElementException:
        language.append('-')  
len(language)

24

5. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

You have to find the following details:
    1. Song name
    2. Artist name
    3. Last week rank
    4. Peak rank
    5. Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [11]:
url = webdriver.Chrome()
url.get('https://www.billboard.com/')
time.sleep(3)

In [12]:
cookie = url.find_element(By.XPATH, '//button[@id="onetrust-accept-btn-handler"]')
cookie.click()

In [13]:
chart = url.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()

In [14]:
view_chart = url.find_element(By.XPATH, '//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view_chart.click()

In [17]:
song = []

song_tags = url.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in song_tags:
    songs = i.text
    song.append(songs)
len(song)

100

In [18]:
artist = []

artist_tags = url.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li/ul/li[1]/span')
for i in artist_tags:
    artists = i.text
    artist.append(artists)
len(artist)

100

In [19]:
last_week = []

last_week_tags = url.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span')
for i in last_week_tags:
    weeks = i.text
    last_week.append(weeks)
len(last_week)

100

In [20]:
peak = []

peak_tags = url.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span')
for i in peak_tags:
    peaks = i.text
    peak.append(peaks)
len(peak)

100

In [22]:
weeks = [] 

weeks_tags = url.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span')
for i in weeks_tags:
    week = i.text
    weeks.append(week)
len(weeks)

100

In [23]:
df = pd.DataFrame({'Song Name':song, 'Artist Name':artist,'Last week rank':last_week,'Peak rank':peak,'Weeks on board':weeks})
df

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,Last Night,Morgan Wallen,1,1,16
1,All My Life,Lil Durk Featuring J. Cole,-,2,1
2,Flowers,Miley Cyrus,3,1,18
3,Kill Bill,SZA,2,1,23
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,4,4,9
...,...,...,...,...,...
95,Forever,Lil Baby Featuring Fridayy,87,8,19
96,Private Landing,Don Toliver Featuring Justin Bieber & Future,100,72,6
97,I Heard,YoungBoy Never Broke Again,-,98,1
98,Sunrise,Morgan Wallen,89,30,11
99,Happy,NF,95,54,6

6. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [24]:
server = webdriver.Chrome()
server.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [25]:
book = []

book_tags = server.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[2]')
for i in book_tags:
    books = i.text
    book.append(books)
len(book)

100

In [26]:
author = []

author_tags = server.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[3]')
for i in author_tags:
    authors = i.text
    author.append(authors)
len(author)

100

In [27]:
volum = []

volum_tags = server.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[4]')
for i in volum_tags:
    volums = i.text
    volum.append(volums)
len(volum)

100

In [28]:
publ = []

publ_tags = server.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[5]')
for i in publ_tags:
    publs = i.text
    publ.append(publs)
len(publ)

100

In [29]:
genre = []

genre_tags = server.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[6]')
for i in genre_tags:
    genres = i.text
    genre.append(genres)
len(genre)

100

In [30]:
df = pd.DataFrame({'Book Title':book,'Author Name':author,'Volume Sales':volum,'Publisher':publ,'Genre':genre})
df

,Book Title,Author Name,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [32]:
server.close()

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [33]:
driver = webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [34]:
name = []

name_tags = driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/a')
for i in name_tags:
    names = i.text
    name.append(names)
len(name)

100

In [35]:
year = []

year_tags = driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/span[2]')
for i in year_tags:
    years = i.text
    year.append(years)
len(year)

100

In [36]:
genre = []

genre_tags = driver.find_elements(By.XPATH, '//span[@class="genre"]')
for i in genre_tags:
    genres = i.text
    genre.append(genres)
len(genre)

100

In [37]:
run = []

run_tags = driver.find_elements(By.XPATH, '//span[@class="runtime"]')
for i in run_tags:
    runs = i.text
    run.append(runs)
len(run)

100

In [39]:
rating = []

rating_tags = driver.find_elements(By.XPATH, '//div[@class="ipl-rating-widget"]/div/span[2]')
for i in rating_tags:
    ratings = i.text
    rating.append(ratings)
len(rating)

100

In [40]:
vote = []

vote_tags = driver.find_elements(By.XPATH, '//*[@id="main"]/div/div/div/div/div[2]/p[4]/span[2]')
for i in vote_tags:
    votes = i.text
    vote.append(votes)
len(vote)

100

In [41]:
df = pd.DataFrame({'Show Name':name,'Year':year,'Genre':genre,'Run time':run,'Rating':rating,'Votes':vote})
df

,Show Name,Year,Genre,Run time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,164,106"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,243,716"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,027,986"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,414"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,507"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,723"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,752"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,791"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,243"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,513"

In [42]:
driver.close()

8. Details of Datasetsfrom UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [45]:
driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [46]:
button = driver.find_element(By.XPATH, '//span[@class="whitetext"]/a/font')
button.click()

In [47]:
name = []

name_tags = driver.find_elements(By.XPATH, '//p[@class="normal"]/b/a')
for i in name_tags:
    names = i.text
    name.append(names)
len(name)

622

In [50]:
d_type = []

d_type_tags = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody//table[2]/tbody/tr/td[2]/p[1]')
for i in d_type_tags[1:623]:
    d_types = i.text
    d_type.append(d_types)
len(d_type)

622

In [51]:
task = []

task_tags = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in task_tags[1:623]:
    tasks = i.text
    task.append(tasks)
len(task)

622

In [52]:
a_type = []

a_type_tags = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
for i in a_type_tags[1:623]:
    a_types = i.text
    a_type.append(a_types)
len(a_type)

622

In [53]:
no = []

no_tags = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
for i in no_tags[1:623]:
    nos = i.text
    no.append(nos)
len(no)

622

In [54]:
no_at = []

no_at_tags = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in no_at_tags[1:623]:
    nos_at = i.text
    no_at.append(nos_at)
len(no_at)

622

In [57]:
year = []

year_tags = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
for i in year_tags[1:623]:
    years = i.text
    year.append(years)
len(year)

# i had to select from 1 to 623 because for some reason, with that xpath the program find the title of column as well as 
# the content so i eliminate it in this maner.

622

In [58]:
df = pd.DataFrame({'DataSet Name':name,'Data Type':d_type,'Task':task, 'Attribute type':a_type,'No of instances':no, 'No of attribute':no_at, 'Year':year})
df

,DataSet Name,Data Type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [59]:
driver.close()

9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [9]:
driver = uc.Chrome()
driver.get('https://www.naukri.com/hr-recruiters-consultants') # i put the link given because I cannot find recruiters option

In [10]:
search = driver.find_element(By.XPATH, '//input[@class="sugInp"]')
search.send_keys('Data Science')

In [11]:
button = driver.find_element(By.ID, 'qsbFormBtn')
button.click()

In [14]:
job_name = []

job_name_tags = driver.find_elements(By.XPATH, '//span[@class="fl ellipsis"]')
for i in job_name_tags:
    job_names = i.text
    job_name.append(job_names)
len(job_name)

50

In [16]:
designation = []

designation_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in designation_tags:
    designations = i.text
    designation.append(designations)
len(designation)

50

In [17]:
company = []

company_tags = driver.find_elements(By.XPATH, '//a[@class="ellipsis"][2]')
for i in company_tags:
    companys = i.text
    company.append(companys)
len(company)

50

In [18]:
skill = []

skill_tags = driver.find_elements(By.XPATH, '//div[@class="hireSec highlightable"]')
for i in skill_tags:
    skills = i.text
    skill.append(skills)
len(skill)

50

In [19]:
location = []

location_tags = driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in location_tags:
    locations = i.text
    location.append(locations)
len(location)

49

In [ ]:
driver.close()