In [6]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rober\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rober\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rober\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\rober\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\rober\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: cffi>=1.14 in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\rober\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\rober\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rober\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rober\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [23]:
pip install undetected-chromedriver

Collecting undetected-chromedriver
  Downloading undetected-chromedriver-3.4.6.tar.gz (61 kB)
Requirement already satisfied: selenium>=4.0.0 in c:\users\rober\anaconda3\lib\site-packages (from undetected-chromedriver) (4.9.1)
Requirement already satisfied: requests in c:\users\rober\anaconda3\lib\site-packages (from undetected-chromedriver) (2.27.1)
Collecting websockets
  Downloading websockets-11.0.3-cp39-cp39-win_amd64.whl (124 kB)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rober\anaconda3\lib\site-packages (from selenium>=4.0.0->undetected-chromedriver) (0.10.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\rober\anaconda3\lib\site-packages (from selenium>=4.0.0->undetected-chromedriver) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rober\anaconda3\lib\site-packages (from selenium>=4.0.0->undetected-chromedriver) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\rober\anaconda3\lib\site-packages (from selenium>=4.0.0->undetected-chromedriver) (0.22.0)
Requirement already satisfied: idna in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium>=4.0.0->undetected-chromedriver) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium>=4.0.0->undetected-chromedriver) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium>=4.0.0->undetected-chromedriver) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium>=4.0.0->undetected-chromedriver) (2.4.0)
Requirement already satisfied: sniffio in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium>=4.0.0->undetected-chromedriver) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium>=4.0.0->undetected-chromedriver) (1.15.0)
Requirement already satisfied: outcome in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium>=4.0.0->undetected-chromedriver) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rober\anaconda3\lib\site-packages (from trio~=0.17->selenium>=4.0.0->undetected-chromedriver) (1.10)
Requirement already satisfied: pycparser in c:\users\rober\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium>=4.0.0->undetected-chromedriver) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\rober\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium>=4.0.0->undetected-chromedriver) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rober\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium>=4.0.0->undetected-chromedriver) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rober\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium>=4.0.0->undetected-chromedriver) (0.14.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\rober\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (2.0.4)
Building wheels for collected packages: undetected-chromedriver
  Building wheel for undetected-chromedriver (setup.py): started
  Building wheel for undetected-chromedriver (setup.py): finished with status 'done'
  Created wheel for undetected-chromedriver: filename=undetected_chromedriver-3.4.6-py3-none-any.whl size=44498 sha256=043d37bdbc2f04191c9924dc7160f6130e0c89ce94fa6f54590bcd4f965f16ba
  Stored in directory: c:\users\rober\appdata\local\pip\cache\wheels\59\91\0c\e10481bbb66f4c4b09cc2aa1356320fafc24cc7be7f9563e73
Successfully built undetected-chromedriver
Installing collected packages: websockets, undetected-chromedriver
Successfully installed undetected-chromedriver-3.4.6 websockets-11.0.3
Note: you may need to restart the kernel to use updated packages.

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import undetected_chromedriver as uc
import time

In [2]:
#first connect to the driver 
# I had to use a different tool because webdriver didint allow me to acces
#the website when I run search.click() line.It said "Acces Denied"
driver = uc.Chrome()

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
# entering designation and location as required in the question
designation = driver.find_element(By.CLASS_NAME, 'suggestor-input')
designation.send_keys('Data Analyst')

In [5]:
location = driver.find_element(By.XPATH, '/html/body/div/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore/Bengaluru')

In [6]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [7]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [8]:
#scraping job title from the given page
title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [9]:
location_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [10]:
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [11]:
experience_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [12]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [14]:
df = pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,ANZ,6-9 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,6-10 Yrs
2,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
3,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
4,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
5,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
6,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
7,Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Noida, Pune, ...",Infogain,4-7 Yrs
8,Data Analyst,Bangalore/Bengaluru,S&P Global Inc.,1-4 Yrs
9,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,5-10 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [28]:
driver = uc.Chrome()

In [29]:
driver.get('https://www.naukri.com/')

In [30]:
designation = driver.find_element(By.CLASS_NAME, 'suggestor-input')
designation.send_keys('Data Scientist')

In [31]:
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [32]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [33]:
job_title = []
job_location = []
company_name = []

In [34]:
title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

location_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [35]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [36]:
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name})
df

,Title,Location,Company Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,"Manager, Data Solution Specialist","Bangalore/Bengaluru, Mumbai, New Delhi",Pfizer
2,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
3,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
4,Permanent Opportunity For Data scientist with AWS,"Hybrid - Bangalore/Bengaluru, Chennai, Coimbat...",Deloitte
5,Data Scientist,Bangalore/Bengaluru,Infosys
6,R&D Specialist,Bangalore/Bengaluru,Nokia
7,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software
8,Data Science Analyst,Bangalore/Bengaluru,Accenture
9,Data Scientist,Bangalore/Bengaluru,IBM

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [49]:
driver = uc.Chrome()

In [50]:
driver.get('https://www.naukri.com/')

In [51]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [52]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [53]:
salary_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [55]:
location_filter = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[3]/label/p/span[1]')
location_filter.click()

In [56]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [57]:
title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

location_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp = i.text
    experience_required.append(exp)

In [58]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [59]:
df = pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,"Manager, Data Solution Specialist","Mumbai, New Delhi, Bangalore/Bengaluru",Pfizer,3-5 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
5,Data Scientist - II (Contract),Gurgaon/Gurugram,Netomi,3-7 Yrs
6,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
7,Research Scientist - Bioinformatics,Gurgaon/Gurugram,Biopeople India,0-2 Yrs
8,Data Scientist - I,Gurgaon/Gurugram,Netomi,3-6 Yrs
9,Machine Learning Engineer,Noida,Profit By Outsourcing,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data asusual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [35]:
server = uc.Chrome()

In [36]:
server.get('https://www.flipkart.com/')

In [37]:
# i had to close a "Make an account" request
close = server.find_element(By.XPATH, '/html/body/div[2]/div/div/button')
close.click()

In [38]:
search = server.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sunglasses')

In [39]:
button = server.find_element(By.CLASS_NAME, 'L0Z3Pu')
button.click()

In [40]:
brand = []
prod_descr = []
price = []
discount = []

In [41]:
brand_tags = server.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in brand_tags:
    brands = i.text
    brand.append(brands)
# here I had to search elements one by one because one of them had another class name. 
prod_descr_tags = server.find_elements(By.XPATH,'//a[@class="IRpwTa"]')+server.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in prod_descr_tags:
    description = i.text
    prod_descr.append(description)
    
price_tags = server.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in price_tags:
    prices = i.text
    price.append(prices)
    
discount_tags = server.find_elements(By.XPATH, '//div[@class="_3I9_wc"]')
for i in discount_tags:
    discounts = i.text
    discount.append(discounts)

In [42]:
print(len(brand),len(prod_descr),len(price),len(discount))

40 40 40 40

In [43]:
#here i had to figure it out because the term "elements" suggests more than one.

next_b = server.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
next_b.click()

In [44]:
brand_tags = server.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in brand_tags:
    brands = i.text
    brand.append(brands)

prod_descr_tags = server.find_elements(By.XPATH,'//a[@class="IRpwTa"]')+server.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in prod_descr_tags:
    description = i.text
    prod_descr.append(description)
    
price_tags = server.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in price_tags:
    prices = i.text
    price.append(prices)
    
discount_tags = server.find_elements(By.XPATH, '//div[@class="_3I9_wc"]')
for i in discount_tags:
    discounts = i.text
    discount.append(discounts)

In [45]:
print(len(brand),len(prod_descr),len(price),len(discount))

80 80 80 80

In [47]:
#here the previous and next button have the same xpath so i had to copy the full xpath
next_b = server.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_b.click()

In [48]:
brand_tags = server.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in brand_tags[0:20]:
    brands = i.text
    brand.append(brands)

prod_descr_tags = server.find_elements(By.XPATH,'//a[@class="IRpwTa"]')+server.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in prod_descr_tags[0:20]:
    description = i.text
    prod_descr.append(description)
    
price_tags = server.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in price_tags[0:20]:
    prices = i.text
    price.append(prices)
    
discount_tags = server.find_elements(By.XPATH, '//div[@class="_3I9_wc"]')
for i in discount_tags[0:20]:
    discounts = i.text
    discount.append(discounts)

In [49]:
print(len(brand),len(prod_descr),len(price),len(discount))

100 100 100 100

In [50]:
df = pd.DataFrame({'Brand Name':brand,'Product Description':prod_descr,'Price':price,'Discount':discount})
df

,Brand Name,Product Description,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹849,"₹1,999"
1,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),₹509,"₹1,999"
2,PIRASO,UV Protection Clubmaster Sunglasses (54),₹224,"₹1,599"
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹268,"₹1,599"
4,TamTam,UV Protection Retro Square Sunglasses (Free Size),₹181,₹999
...,...,...,...,...
95,ROZZETTA CRAFT,"Polarized, UV Protection Rectangular Sunglasse...",₹699,"₹2,555"
96,LIZA ANGEL,UV Protection Rectangular Sunglasses (Free Size),₹249,₹699
97,CRYSTAL CART,"Polarized, Gradient, UV Protection, Mirrored O...",₹220,"₹1,999"
98,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹599,"₹1,999"
99,NuVew,UV Protection Sports Sunglasses (69),₹345,"₹1,245"

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [35]:
url = uc.Chrome()

In [36]:
# the link given wasnt woring. 
url.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [37]:
rating = []
summ = []
full = []

In [38]:
rating_tags = url.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rat = i.text
    rating.append(rat)
    
summ_tags = url.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summ_tags:
    summary = i.text
    summ.append(summary)
    
full_tags = url.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full_tags:
    ful = i.text
    full.append(ful)

In [39]:
print(len(rating),len(summ),len(full))

10 10 10

In [40]:
next_b = url.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
next_b.click()

In [41]:
rating_tags = url.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rat = i.text
    rating.append(rat)
    
summ_tags = url.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summ_tags:
    summary = i.text
    summ.append(summary)
    
full_tags = url.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full_tags:
    ful = i.text
    full.append(ful)

print(len(rating),len(summ),len(full))

20 20 20

In [42]:
next_b = url.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_b.click()

In [43]:
rating_tags = url.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rat = i.text
    rating.append(rat)
    
summ_tags = url.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summ_tags:
    summary = i.text
    summ.append(summary)
    
full_tags = url.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full_tags:
    ful = i.text
    full.append(ful)

print(len(rating),len(summ),len(full))

30 30 30

In [44]:
next_b = url.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_b.click()

In [45]:
# I had to add an extra url.find for bad review wich have a different class
rating_tags = url.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')+url.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_tags:
    rat = i.text
    rating.append(rat)
    
summ_tags = url.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summ_tags:
    summary = i.text
    summ.append(summary)
    
full_tags = url.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full_tags:
    ful = i.text
    full.append(ful)

print(len(rating),len(summ),len(full))

40 40 40

In [46]:
next_b = url.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_b.click()

In [47]:
rating_tags = url.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rat = i.text
    rating.append(rat)
    
summ_tags = url.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summ_tags:
    summary = i.text
    summ.append(summary)
    
full_tags = url.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full_tags:
    ful = i.text
    full.append(ful)

print(len(rating),len(summ),len(full))

50 50 50

In [48]:
next_b = url.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_b.click()

In [49]:
rating_tags = url.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')+url.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_tags:
    rat = i.text
    rating.append(rat)
    
summ_tags = url.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summ_tags:
    summary = i.text
    summ.append(summary)
    
full_tags = url.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full_tags:
    ful = i.text
    full.append(ful)

print(len(rating),len(summ),len(full))

60 60 60

In [50]:
next_b = url.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_b.click()

In [51]:
rating_tags = url.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')+url.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_tags:
    rat = i.text
    rating.append(rat)
    
summ_tags = url.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summ_tags:
    summary = i.text
    summ.append(summary)
    
full_tags = url.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full_tags:
    ful = i.text
    full.append(ful)

print(len(rating),len(summ),len(full))

70 70 70

In [52]:
next_b = url.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_b.click()

In [53]:
rating_tags = url.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rat = i.text
    rating.append(rat)
    
summ_tags = url.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summ_tags:
    summary = i.text
    summ.append(summary)
    
full_tags = url.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full_tags:
    ful = i.text
    full.append(ful)

print(len(rating),len(summ),len(full))

80 80 80

In [54]:
next_b = url.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_b.click()

In [55]:
rating_tags = url.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rat = i.text
    rating.append(rat)
    
summ_tags = url.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summ_tags:
    summary = i.text
    summ.append(summary)
    
full_tags = url.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full_tags:
    ful = i.text
    full.append(ful)

print(len(rating),len(summ),len(full))

90 90 90

In [56]:
next_b = url.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_b.click()

In [57]:
rating_tags = url.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rat = i.text
    rating.append(rat)
    
summ_tags = url.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summ_tags:
    summary = i.text
    summ.append(summary)
    
full_tags = url.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full_tags:
    ful = i.text
    full.append(ful)

print(len(rating),len(summ),len(full))

100 100 100

In [58]:
df = pd.DataFrame({'Rating':rating,'Summary review':summ,'Full review':full})
df

,Rating,Summary review,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
96,5,Wonderful,Its good.. a little heavy on my pinky but its ...
97,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
98,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
99,5,Perfect product!,Worth the money’ starting first from its perfo...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [2]:
server = webdriver.Chrome()

In [3]:
server.get('https://www.flipkart.com/')

In [4]:
close = server.find_element(By.XPATH, '/html/body/div[2]/div/div/button')
close.click()

In [5]:
search = server.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sneakers')

In [6]:
button = server.find_element(By.XPATH, '//button[@class="L0Z3Pu"]')
button.click()

In [7]:
brand = []
descr = []
price = []

In [9]:
brand_tags = server.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brands = i.text
    brand.append(brands)

descr_tags = server.find_elements(By.XPATH, '//a[@class="IRpwTa"]')+server.find_elements(By.XPATH, '//a[@class="IRpwTa _2-ICcC"]')
for i in descr_tags:
    description = i.text
    descr.append(description)
    
price_tags = server.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in price_tags:
    prices = i.text
    price.append(prices)
    
print(len(brand), len(descr), len(price))

40 40 40

In [10]:
next_b = server.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_b.click()

In [11]:
brand_tags = server.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brands = i.text
    brand.append(brands)

descr_tags = server.find_elements(By.XPATH, '//a[@class="IRpwTa"]')+server.find_elements(By.XPATH, '//a[@class="IRpwTa _2-ICcC"]')
for i in descr_tags:
    description = i.text
    descr.append(description)
    
price_tags = server.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in price_tags:
    prices = i.text
    price.append(prices)
    
print(len(brand), len(descr), len(price))

80 80 80

In [12]:
next_b = server.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_b.click()

In [13]:
brand_tags = server.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:20]:
    brands = i.text
    brand.append(brands)

descr_tags = server.find_elements(By.XPATH, '//a[@class="IRpwTa"]')+server.find_elements(By.XPATH, '//a[@class="IRpwTa _2-ICcC"]')
for i in descr_tags[0:20]:
    description = i.text
    descr.append(description)
    
price_tags = server.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in price_tags[0:20]:
    prices = i.text
    price.append(prices)
    
print(len(brand), len(descr), len(price))

100 100 100

In [14]:
df = pd.DataFrame({'Brands':brand,'Description':descr,'Price':price})
df

         Brands                                        Description   Price
0        Labbin                                   Sneakers For Men    ₹379
1      RapidBox                                   Sneakers For Men    ₹579
2          aadi  Synthetic| Lightweight| Premiun| Comfort| Summ...    ₹269
3         BIRDE  Premium Sports Shoes For Men Pack Of 2 Sneaker...    ₹449
4         BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹449
..          ...                                                ...     ...
95  bacca bucci  Comfy Mid-Top Casual Chunky Streetwear Fashion...  ₹1,599
96       BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹449
97        Asics                   PRIME JOGGER LS Sneakers For Men  ₹1,732
98      LIBERTY                           JUMP-02 Sneakers For Men    ₹449
99   HIGHLANDER                                   Sneakers For Men    ₹696

[100 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [2]:
amazon = webdriver.Chrome()

In [3]:
amazon.get('https://www.amazon.co.uk/')

In [4]:
search = amazon.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('laptop')

In [5]:
button = amazon.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
button.click()

In [6]:
cookie = amazon.find_element(By.XPATH, '//input[@class="a-button-input celwidget"]')
cookie.click()

In [7]:
filter_ = amazon.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[7]/ul[5]/span[20]/li/span/a/div/label/i')
filter_.click()

In [8]:
title = []
rating = []
price = []

In [11]:
title_tags = amazon.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    titles = i.text
    title.append(titles)
    
rating_tags = amazon.find_elements(By.XPATH, '//i[@class="a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom"]')
for i in rating_tags[0:10]:
    ratings = i.text
    rating.append(ratings)
    
price_tags = amazon.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    prices = i.text
    price.append(prices)
    
print(len(title),len(rating),len(price))

10 10 10

In [12]:
df = pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
df

                                               Title Rating  Price
0  ASUS ZenBook Flip S13 UX371EA 13.3-inch 4K Tou...           999
1  ASUS ZenBook Flip OLED UX363EA 13.3 Intel EVO ...           899
2  MSI Katana GF76 Gaming Laptop (12UB-027UK), 12...         1,259
3  Dell Latitude 5430 14.0 inch FHD Business Lapt...         1,078
4  ASUS ExpertBook B9 B9400CEA 14.0” Full HD Lapt...         1,645
5  Acer Aspire 3 A315-58 15.6 Inch Laptop - (Inte...           999
6  Dell Latitude 7480 14" Full HD Core i7-6600U 1...           899
7  Lenovo IdeaPad 3 15ITL6 15.6 FHD Cloudbook Lap...           790
8  Lenovo Ideapad 3 15ITL6 15.6 Inch FHD Cloudboo...
9  HP Elitebook 840 G3 Laptop Intel i7-6600U 2.6G...

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [2]:
q = webdriver.Chrome()

In [3]:
q.get('https://www.azquotes.com/')

In [4]:
top = q.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a')
top.click()

In [5]:
quote = []
author = []
type_of = []

In [6]:
quote_tags = q.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags:
    quotes = i.text
    quote.append(quotes)
    
author_tags = q.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags:
    authors = i.text
    author.append(authors)
    
type_of_tags = q.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_of_tags:
    type_ = i.text
    type_of.append(type_)
    
print(len(quote),len(author),len(type_of))

100 100 100

In [7]:
next_ = q.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[3]/a')
next_.click()

In [8]:
quote_tags = q.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags:
    quotes = i.text
    quote.append(quotes)
    
author_tags = q.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags:
    authors = i.text
    author.append(authors)
    
type_of_tags = q.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_of_tags:
    type_ = i.text
    type_of.append(type_)
    
print(len(quote),len(author),len(type_of))

200 200 200

In [9]:
next_ = q.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[5]/a')
next_.click()

In [10]:
quote_tags = q.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags:
    quotes = i.text
    quote.append(quotes)
    
author_tags = q.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags:
    authors = i.text
    author.append(authors)
    
type_of_tags = q.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_of_tags:
    type_ = i.text
    type_of.append(type_)
    
print(len(quote),len(author),len(type_of))

300 300 300

In [11]:
next_ = q.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[6]/a')
next_.click()

In [12]:
quote_tags = q.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags:
    quotes = i.text
    quote.append(quotes)
    
author_tags = q.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags:
    authors = i.text
    author.append(authors)
    
type_of_tags = q.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_of_tags:
    type_ = i.text
    type_of.append(type_)
    
print(len(quote),len(author),len(type_of))

400 400 400

In [13]:
next_ = q.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[7]/a')
next_.click()

In [14]:
quote_tags = q.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags:
    quotes = i.text
    quote.append(quotes)
    
author_tags = q.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags:
    authors = i.text
    author.append(authors)
    
type_of_tags = q.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_of_tags:
    type_ = i.text
    type_of.append(type_)
    
print(len(quote),len(author),len(type_of))

500 500 500

In [15]:
next_ = q.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[8]/a')
next_.click()

In [16]:
quote_tags = q.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags:
    quotes = i.text
    quote.append(quotes)
    
author_tags = q.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags:
    authors = i.text
    author.append(authors)
    
type_of_tags = q.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_of_tags:
    type_ = i.text
    type_of.append(type_)
    
print(len(quote),len(author),len(type_of))

600 600 600

In [17]:
next_ = q.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[9]/a')
next_.click()

In [18]:
quote_tags = q.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags:
    quotes = i.text
    quote.append(quotes)
    
author_tags = q.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags:
    authors = i.text
    author.append(authors)
    
type_of_tags = q.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_of_tags:
    type_ = i.text
    type_of.append(type_)
    
print(len(quote),len(author),len(type_of))

700 700 700

In [19]:
next_ = q.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[10]/a')
next_.click()

In [20]:
quote_tags = q.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags:
    quotes = i.text
    quote.append(quotes)
    
author_tags = q.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags:
    authors = i.text
    author.append(authors)
    
type_of_tags = q.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_of_tags:
    type_ = i.text
    type_of.append(type_)
    
print(len(quote),len(author),len(type_of))

800 800 800

In [21]:
next_ = q.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[11]/a')
next_.click()

In [22]:
quote_tags = q.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags:
    quotes = i.text
    quote.append(quotes)
    
author_tags = q.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags:
    authors = i.text
    author.append(authors)
    
type_of_tags = q.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_of_tags:
    type_ = i.text
    type_of.append(type_)
    
print(len(quote),len(author),len(type_of))

900 900 900

In [23]:
next_ = q.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[12]/a')
next_.click()

In [24]:
quote_tags = q.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tags:
    quotes = i.text
    quote.append(quotes)
    
author_tags = q.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags:
    authors = i.text
    author.append(authors)
    
type_of_tags = q.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_of_tags:
    type_ = i.text
    type_of.append(type_)
    
print(len(quote),len(author),len(type_of))

1000 1000 1000

In [26]:
df = pd.DataFrame({'Quote':quote,'Author':author,'Type':type_of})
df.head()

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [27]:
url = webdriver.Chrome()

In [28]:
url.get('https://www.jagranjosh.com/')

In [29]:
click = url.find_element(By.XPATH, '/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
click.click()

In [30]:
prime = url.find_element(By.XPATH, '/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
prime.click()

In [42]:
name = []
born_dead = []
term = []
remarks = []

In [43]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[3]/p')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [47]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[3]/td[2]')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[3]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[3]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[3]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [45]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[4]/td[2]')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[4]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[4]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[4]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [49]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[5]/td[2]')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[5]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[5]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[5]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [51]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[6]/td[2]/p/strong/a')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[6]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[6]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[6]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [52]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[7]/td[2]')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[7]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[7]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[7]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [53]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[8]/td[2]')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[8]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[8]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[8]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [54]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[9]/td[2]/p/strong/a')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[9]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[9]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[9]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [55]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[10]/td[2]/p/a')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[10]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[10]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[10]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [56]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[11]/td[2]')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[11]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[11]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[11]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [57]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[12]/td[2]/p/strong/a')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[12]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[12]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[12]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [58]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[13]/td[2]')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[13]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[13]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[13]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [59]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[14]/td[2]/p/strong/a')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[14]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[14]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[14]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [60]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[15]/td[2]')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[15]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[15]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[15]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [61]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[16]/td[2]')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[16]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[16]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[16]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [62]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[17]/td[2]/p/a')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[17]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[17]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[17]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [64]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[18]/td[2]/p/strong/a')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[18]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[18]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[18]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [65]:
name_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[19]/td[2]/p/a')
for i in name_tags:
    names = i.text
    name.append(names)
    
born_dead_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[19]/td[3]')
for i in born_dead_tags:
    born = i.text
    born_dead.append(born)
    
term_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[19]/td[4]')
for i in term_tags:
    terms = i.text
    term.append(terms)
    
remarks_tags = url.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[19]/td[5]')
for i in remarks_tags:
    remark = i.text
    remarks.append(remark)

In [66]:
df = pd.DataFrame({'Name':name,'Born/Dead':born_dead,'Terms of office':term,'Remarks':remarks})
df
#i have a feeling that this problem could be solved with a way faster method.

,Name,Born/Dead,Terms of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days","The first prime minister of India and the longest-serving PM of India, the first to die in office."
1,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965
2,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59 days",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first to resign from office
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 291 days",The first lady who served as PM for the second term
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 32 days",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confidence
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a full term as PM
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two consecutive tenures

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [2]:
server = webdriver.Chrome()

In [3]:
server.get('https://www.motor1.com/')

In [4]:
accept = server.find_element(By.XPATH, '/html/body/div[12]/div[2]/div/div/div[2]/div/div/button')
accept.click()

In [5]:
search = server.find_element(By.XPATH, '/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys('50 most expensive')

In [6]:
button = server.find_element(By.XPATH, '/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
button.click()

In [7]:
article = server.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[3]/div/div[1]/h3/a')
article.click()

# I couldn t find the list mention in task so I chose to search for the article

In [8]:
name = []
price = []

In [9]:
name_tags = server.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in name_tags[0:50]:
    names = i.text
    name.append(names)
    
price_tags = server.find_elements(By.TAG_NAME,'strong')
for i in price_tags[0:50]:
    prices = i.text
    price.append(prices)
    
print(len(name), len(price))

# I cant find a xpath for all the prices so I should copy the xpath for each price?

50 50

In [10]:
df = pd.DataFrame({'Name':name, 'Price':price})
df

                               Name                 Price
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.7 Million
10                  Bentley Bacalar   Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $1.9 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara   Price: $2.0 Million
15                      Lotus Evija  Price: $2.0 Million*
16              Aston Martin Vulcan   Price: $2.1 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.3 Million
20                    Pagani Utopia   Price: $2.4 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.5 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.6 Million
26              Aston Martin Victor   Price: $2.7 Million
27      Hennessey Venom F5 Roadster   Price: $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie   Price: $3.0 Million
30        W Motors Lykan Hypersport   Price: $3.2 Million
31                    McLaren Solus   Price: $3.4 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million